body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: blueviolet;
}



@media (max-width: 768px) {

  #root {
    max-width: 80em;
    margin: 0 auto;
    padding: 20px;
  }

  .loan {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-color: #fff;
    flex-direction: column;
    position: relative;
    justify-content:space-between;
    margin: 20px 0;
  }

  .sorterContainer {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
  }

  .loanDetail .leftCol {
    width: 100%;
    float: none;
  }
  
  .loanDetail .rightCol {
    width: 100%;
    float: none;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .loanDetail .nickName {
    text-align: center;
  }

  .rowFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .colFlex.datePublished, .colFlex.remainingHours, .colFlex.deadline  {
    text-align: center;
  }

  .colFlex.remainingHours, .colFlex.deadline {
    margin-top: 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #root {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .rowFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .loan {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-color: #fff;
    flex-direction: column;
    position: relative;
    justify-content:space-between;
    margin: 2%;
  }

  .sorterContainer {
    display: flex;
    padding: 2%;
    justify-content: space-between;
  }
  .loanDetail .leftCol {
    width: 50%;
    float: left;
  }
  
  .loanDetail .rightCol {
    width: 50%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .colFlex.datePublished {
    text-align: left;
  }
  
  .colFlex.remainingHours {
    text-align: center;
  }
  
  .colFlex.deadline {
    text-align: right;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #root {
    max-width: 80em;
    margin: 0 auto;
    padding: 20px;
  }

  .loan {
    display: flex;
    flex-direction: column;
    flex-basis: 29.33333%;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-color: #fff;
    flex-direction: column;
    position: relative;
    justify-content:space-between;
    margin: 2%;
  }

  .sorterContainer {
    display: flex;
    padding: 2%;
    justify-content: space-between;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .loanDetail .leftCol {
    width: 30%;
    float: left;
  }
  
  .loanDetail .rightCol {
    width: 70%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
}

.loanContainer {
  display: flex;
  flex-wrap: wrap;
}

.loanContainer:after {
  content: "";
  flex: auto;
}


.sorterContainer > button{
  background-color: #fff;
  text-decoration: none;
  border:none;
  flex-basis: 12%;
  text-align: center;
  cursor: pointer;
  align-content: center;
  padding: 10px 0;
  transition: 0.3s;
}

.sorterContainer > button.selected , .sorterContainer > button:hover {
  background-color: #f44259;
  color: #fff;
  transition: 0.3s;
}



.loan > .popupContainer {
  position: relative;
}

.loan > .popupContainer > img {
  width: 100%;
  transition: 0.3s;
  display: block;
}

.loan > .popupContainer > .popup {
  position: absolute;
  top:50%;
  margin-top: -28px;
  font-size: 24px;
  font-weight: bold;
  color: #f44259;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.loan > .popupContainer > .popup > span {
  display: block;
  text-align: center;
}

.loan:hover > .popupContainer > img {
  opacity: 0.3;
  transition: 0.3s;
}

.loan:hover > .popupContainer > .popup {
  opacity: 1;
  transition: 0.3s;
}

.loan > span {
  text-align: center;
}

.loan > .loanName {
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  padding: 10px 20px;
  text-transform: uppercase;
}

.loan > .loanAmount {
  font-size: 24px;
  font-weight: bold;
  color: #f44259;
}

.loanRating {
  position: absolute;
  top: 20px;
  left:-5px;
  color: #fff;
  background-color: #f44259;
  padding: 10px;
  width: 50px;
}

.loan > .loanButton {
  flex: 0;
  background-color: #f44259;
  align-self: center;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 20;
  margin-bottom: 20px;
}

.loan > .loanStory {
  text-align: center;
  padding: 10px 20px;
}

/* loandetail */

.loanDetail img {
  width: 100%
}

.loanDetailWrapper > h1 {
  color: #fff;
}

.loanDetailWrapper .loanDetail {
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.loanDetail p {
  text-align: justify;
  margin-top: 30px;
}

.loanDetail .nickName{
  margin-bottom: 20px;
}



/* percentageIndicator*/

.percentageIndicator {
  background-color: blueviolet;
  width: 100%;
  height: 10px;
  margin: 10px 0;
}

.percentageIndicatorValue {
  background-color: #f44259;
  float: left;
  height: 10px;
}



/* time block*/
.colFlex.remainingHours {
  color: blueviolet;
}

.colFlex.deadline {
  color: #f44259;
}

.colFlex .title{
  font-size: 20px;
  font-weight: 100;
}

.colFlex .time{
  font-size: 24px;
  font-weight: bold;
}

.loanTimeBlock {
  margin-top: 20px;
}
/* utils */

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.big{
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.big.bigRed {
  color: #f44259;
}

.big.bigViolet{
  color: blueviolet;
}

/* backbutton */

.backButton {
  background-color: #f44259;
  color: #fff;
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  line-height: 75px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.3s;
}

.backButton:hover {
  background-color: #fff;
  color: blueviolet;
  transition: 0.3s;
}


/* error page */
.errorWrapper * {
  text-align: center;
  color: #fff;
}

/* spinner */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* router transition */
.SlideIn-appear {
  transform: translateX(30px);
  opacity: 0;
}
.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);;
  transition: all 0.6s linear;
}
.SlideIn-enter {
    opacity: 0;
    transform: translateX(30px);
}
.SlideIn-enter.SlideIn-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s linear 0.4s;
}
.SlideIn-leave {
    opacity: 1.0;
    transform: translateX(0);
}
.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(-30px);
    transition: all 0.2s linear;
}